<div class="movie">
  <h2><%= @movie.title %></h2>
  <p><%= "#{@movie.duration} min." %></p>
</div>
<%if @movie.screenings.any?%>
  <div class="screenings">
    <% @movie.screenings.each do |screening| %>
      <%= button_to "#{screening.start_time.strftime("%d/%m/%Y %H:%M")}", movie_screening_path(@movie.id), method: :get%>
    <% end %>
  <% end %>
  <% if user_signed_in? && !current_user.user? %>
    <%= button_to 'Edit Movie', edit_movie_path(@movie), class: "btn btn-secondary mb-3", method: :get%>
    <%= button_to 'Delete Movie', @movie,  method: :delete, class: "btn btn-danger mb-3"%>
  <% end %>
</div>
