<div class="movie">
  <h2><%= @movie.title %></h2>
  <p><%= "#{@movie.duration} min." %></p>
</div>
<%if @movie.screenings.any?%>
  <div class="screenings">
    <% @movie.screenings.each do |screening| %>
      <%= button_to "#{screening.start_time.strftime("%d/%m/%Y %H:%M")}", movie_path(), method: :get%>
    <% end %>
  <% end %>
  <div class="btn btn-secondary mb-3">
    <%= link_to 'Edit Movie', edit_movie_path(@movie)%>
  </div>
  <% if current_user.manager? %>
    <div class="btn btn-danger mb-3">
      <%= link_to 'Delete Movie', movie_path(@movie),  method: :delete%>
    </div>
  <% end %>
</div>
