 <%= render 'shared/errors', obj: @reservation %>
<h2><%= @screening.movie.title %></h2>
<%= "#{@screening.start_time.strftime("%d/%m/%Y %H:%M")}" %>
<p><%= "Hall #{@screening.hall.name}" %></p>
<%= form_with(url: screening_reservations_path, method: "post") do |f|%>
  <% @screening.hall.seats.each do |seat| %>
    <div class="form-check form-check-inline">
      <%= f.check_box :seats, { multiple: true, class: "form-check-input", 
      disabled: (!@screening.available_seats.include?(seat) ), checked: false}, seat, false %>
      <%= f.label :seats, seat, class: "form-check-label"%>
    </div>
  <% end %>
  <div class = "form-group justify-content-center d-block p-3 m-3">
    <% if current_user.user? %>
      <%= f.submit 'Book a reservation', class: "btn btn-outline-light btn-lg" %>
    <%end%>
    <% if policy(@reservation).create_at_desk? %>
      <%= f.submit 'Book offline reservation', formaction: offline_reservation_path, class: "btn btn-outline-light btn-lg" %>
    <%end%>
  </div>
<% end %>
